<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据库字典</title>
    <link rel="stylesheet" href="/css/layui.css">
</head>
<body class="layui-layout-body">
<!--/*@thymesVar id="dbKey" type=""*/-->
<input type="hidden" id="dbKey" name="dbKey" th:value="${dbKey}" >
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/dataIndex" style="color: #009688">数据库字典</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/dataSourceList">数据源管理</a></li>

           <li class="layui-nav-item">
                <a href="javascript:;">数据源</a>
                <dl class="layui-nav-child">
                    <tr th:each="table,tableStat: ${dataSourceLists}">
                        <dd><a th:href="@{'/changeDbKey?dbKey='+${table.databaseName}}" th:text="${table.databaseName}"></a></dd>
                    </tr>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
           <!-- <li class="layui-nav-item"><a href="">用户管理</a></li>-->
            <li class="layui-nav-item"><a href="/exit">退出</a></li>
        </ul>
    </div>
    <body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"  scroll="no">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" height="650px">
        <tr>
            <td id="frmTitle" align="center" width="198" style="border-right: 1px solid #000000">
                <Iframe  name="BoardTitle" 	style="HEIGHT: 100%; VISIBILITY: inherit; WIDTH: 198; Z-INDEX: 2" 	scrolling="auto" frameborder="0" th:src="@{'/left?dbKey='+${dbKey}}"  ></Iframe>
            </td>
            <td style="width:100%">
                <Iframe id="mainFrame" name="mainFrame" style="HEIGHT: 100%; VISIBILITY: inherit; WIDTH: 100%; Z-INDEX: 1" scrolling="auto" frameborder="0"  th:src="@{'/table/1/1?dbKey='+${dbKey}}" ></Iframe>
            </td>
        </tr>

    </table>
    </body>


</div>
<script src="/js/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    function changeDbKey(dbKey) {
       /* /changeDbKey*/
        alert(1111)
    }
</script>
</body>
</html>