<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <META http-equiv="Content-Type" content="text/html;  charset=utf-8"></META>
    <title>数据库字典</title>
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <style type="text/css">
    </style>

</head>

<body>
<input type="hidden" id="dbKey" name="dbKey" th:value="${dbKey}" >
<div class="layui-form">
        <legend><input type="hidden" th:value="${tablename}" id="tableName"/>
            <div id='tableName' style="padding: 5px; margin-top: 10px; font-size: 14px; font-family: 'trebuchet MS', 'Lucida sans', Arial;">
                <!--
                <a th:href="@{'/list/'+${tablename}}" target="_blank"><span th:text="${tablename}"></span></a>&nbsp;&nbsp;
                -->
                <a th:href="@{'/initList?id='+${id}+'&tableName='+${tablename} +'&dbKey='+${dbKey}}" target="_blank"><span th:text="${tablename}"></span></a>&nbsp;&nbsp;

                <span th:text="${explain}" ondblclick="editTable(this)"></span>

                &nbsp;&nbsp;
                <a th:href="@{'/export/'+${tablename}+'/'+${id} }" class="layui-btn layui-btn-xs" target="_blank">导出</a>&nbsp;&nbsp;

                &nbsp;&nbsp;
                <a th:href="@{'/generateEntityClasses/'+${id}+'/'+${tablename} }"class="layui-btn layui-btn-xs" target="_blank">生成实体类</a>
            </div></legend>
    <div>

    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th style="width: 5%">序号</th>
                <th style="width: 19%">字段</th>
                <th style="width: 27%">说明</th>
                <th style="width: 8%">数据类型</th>
                <th style="width: 6%">长度</th>
                <th style="width: 6%">自增</th>
                <th style="width: 6%">主键</th>
                <th style="width: 6%">允许空</th>
                <th style="width: 20%">默认值</th>
            </tr>
            </thead>
            <tbody>

            <tr  th:each="table,tableStat: ${list}" th:class="${tableStat.odd}?'trColorOdd':'trColorEven'">
                <td th:text="${table.idx}"></td>
                <td th:text="${table.columnName}"></td>
                <td th:text="${table.explain}" <!--th:ondblclick="'edit(this,\''+${table.columnName}+'\')'"-->></td>
                <td th:text="${table.dataType}"></td>
                <td th:text="${table.length}"></td>
                <td th:if="${table.identification == '1'}"><img src="/img/ok.png"></td>
                <td th:if="${table.identification != '1'}"><img src="/img/clear.png"></td>
                <td th:if="${table.pk == '1'}"><img src="/img/ok.png"></td>
                <td th:if="${table.pk != '1'}"><img src="/img/clear.png"></td>
                <td th:if="${table.empty == '1'}"><img src="/img/ok.png"></td>
                <td th:if="${table.empty != '1'}"><img src="/img/clear.png"></td>
                <td th:text="${table.defaultValue}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/lay/modules/layer.js" ></script>
<script src="/js/column.js"></script>
</body>
</html>
