<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据库字典</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/" style="color: #009688">数据库字典</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/api/dataSourceList">数据源管理</a></li>
            <!--<li class="layui-nav-item">
                <a href="javascript:;">数据源</a>
                <dl class="layui-nav-child">
                    <tr th:each="table,tableStat: ${dataSourceLists}">
                        <dd><a th:href="@{'/changeDbKey?dbKey='+${table.databaseName}}" th:text="${table.databaseName}"></a></dd>
                    </tr>
                </dl>
            </li>-->
        </ul>
      <!--  <ul class="layui-nav layui-layout-right">
           &lt;!&ndash; <li class="layui-nav-item"><a href="">用户管理</a></li>&ndash;&gt;

            <li class="layui-nav-item"><a href="/exit">退出</a></li>
        </ul>-->
    </div>
<div class="layui-form">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>数据源列表</legend>
    </fieldset>
        <a type="button" class="layui-btn" style="margin-left: 90%" href="/api/toAddDs">新增</a>
    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th style="width: 5%">序号</th>
                <th style="width: 19%">数据库名称</th>
                <th style="width: 27%">数据URL</th>
                <th style="width: 8%">用户名称</th>
                <th style="width: 6%">密码</th>
                <th style="width: 6%">数据库类型</th>
                <th style="width: 6%">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr  th:each="data,tableStat: ${dataSourceLists}" th:class="${tableStat.odd}?'trColorOdd':'trColorEven'">
                <td th:text="${data.id}"></td>
                <td th:text="${data.databaseName}"></td>
                <td th:text="${data.url}" ></td>
                <td th:text="${data.username}"></td>
                <td th:text="${data.password}"></td>
                <td th:if="${data.type == 1}">mysql</td>
                <td th:if="${data.type == 2}">sqlServer</td>
                <td>  <a type="button" class="layui-btn layui-btn-xs" th:href="@{'/api/delDs?id='+${data.id}}" >删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>