<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns:task="http://www.springframework.org/schema/task"
xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
  		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<description>spring-context</description>

	<!-- 基于主机方式配置Spring的配置文件,为了你的系统能够识别相应的注解 -->
	<context:annotation-config />

	<!-- 该命名空间会交给org.springframework.aop.config.AopNamespaceHandler处理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 定义扫描根路径为com.qk365.portal，扫目录所有子包 ,完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.qk365;com.qk365.**">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>


<task:annotation-driven /> <!--允许@Async-->
	<!-- datasource-start -->
	<bean id="commonDataSource" abstract="true" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">

		<property name="filters" value="stat" />

		<property name="maxActive" value="100" />

		<property name="initialSize" value="20" />
		<property name="validationQuery" value="SELECT 1 " />

		<property name="maxWait" value="60000" />

		<property name="minIdle" value="5" />

		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="testWhileIdle" value="true" />

		<property name="testOnBorrow" value="true" />

		<property name="testOnReturn" value="false" />

		<property name="poolPreparedStatements" value="false" />

		<property name="maxOpenPreparedStatements" value="20" />

		<property name="removeAbandoned" value="true" />

		<property name="removeAbandonedTimeout" value="600" />

		<property name="logAbandoned" value="true" />

	</bean>

	<bean id="FirstDataSource"  parent="commonDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName.first}"/>

		<property name="url" value="${jdbc.url.first}"/>

		<property name="username" value="${jdbc.username.first}"/>

		<property name="password" value="${jdbc.password.first}"/>

	</bean>

	<bean id="SecondDataSource"  parent="commonDataSource">
		<property name="connectionInitSqls" value="set names utf8mb4;" />
		<property name="driverClassName" value="${jdbc.driverClassName.second}"/>

		<property name="url" value="${jdbc.url.second}"/>

		<property name="username" value="${jdbc.username.second}"/>

		<property name="password" value="${jdbc.password.second}"/>

	</bean>

	<bean id="ThirdDataSource"  parent="commonDataSource">
		<property name="connectionInitSqls" value="set names utf8mb4;" />
		<property name="driverClassName" value="${jdbc.driverClassName.third}"/>

		<property name="url" value="${jdbc.url.third}"/>

		<property name="username" value="${jdbc.username.third}"/>

		<property name="password" value="${jdbc.password.third}"/>

	</bean>

	<bean id="dataSource" class="com.qk365.datadict.common.db.MultipleDataSource" primary="true" >
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="sqlite" value-ref="FirstDataSource"></entry>
				<entry key="mysql" value-ref="SecondDataSource"></entry>
				<entry key="sqlserver" value-ref="ThirdDataSource"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="FirstDataSource" />
	</bean>

	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		  p:dataSource-ref="SecondDataSource">
	</bean>

<!--
	&lt;!&ndash; 配置 spring 的 JdbcTemplate &ndash;&gt;
	<bean id="jdbcTemplate"
		  class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="FirstDataSource"></property>
	</bean>-->


    <tx:annotation-driven transaction-manager="transactionManager" />


	<!-- MyBatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/config/mybatis-config.xml" />  
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.qk365.datadict.po.*"/>
		<property name="mapperLocations" value="classpath*:mapper/*Mapper.xml" />
	</bean>
	
	<!-- 配置扫描Dao接口包,动态实现Dao接口，注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 给出需要扫描Dao接口包 -->
        <property name="basePackage" value="com.qk365.datadict.dao"/>
    </bean>
	
	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.isea533.mybatis.mapper"/>
        <property name="properties">
            <value>
                mappers=tk.mybatis.mapper.common.Mapper
            </value>
        </property>
    </bean>
	
</beans>