<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk365.datadict.dao.MysqlMapper">
	
	<!-- 查询所有表名 -->
	<select id="findTableName" resultType="java.util.Map">
	    <!--
	    select t.name,t.crdate from sysobjects t where xtype='u' ORDER BY t.name
	    -->
        select table_name as name, table_comment as comment, table_rows as id
        from information_schema.tables
        where table_schema = #{dbName}
        and table_type = 'base table'
        order by table_name
	</select>
	
	<select id="findTableNameExplain" resultType="java.util.Map">
	    select  CONVERT(NVARCHAR(100),ifnull(g.[value],'')) AS explain  from  
	     sys.extended_properties g where 
         g.major_id =#{id}  AND g.minor_id = 0 
	</select>
	
	<resultMap id="BaseResultMap" type="com.qk365.datadict.po.TableInfo">
    <result column="idx" jdbcType="INTEGER" property="idx" />
    <result column="columnName" jdbcType="VARCHAR" property="columnName" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="dataType" jdbcType="VARCHAR" property="dataType" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="decimalDigits" jdbcType="INTEGER" property="decimalDigits" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="pk" jdbcType="VARCHAR" property="pk" />
    <result column="defaultValue" jdbcType="VARCHAR" property="defaultValue" />
    <result column="empty" jdbcType="VARCHAR" property="empty" />
  </resultMap>
  
 <select id="findTableInfo" resultMap="BaseResultMap">

        select
        ordinal_position as idx,
        column_name as columnName,
        column_comment as comment,
        data_type as dataType,
        0 as length,
        is_nullable as empty,
        column_default as defaultValue,
        column_key as pk,
        extra as identification
        from information_schema.columns

        where table_schema =  #{dbKey}
        and table_name = #{tableName}
	</select>
	 
	 <select id="addTableExplain"  statementType="CALLABLE">
        EXECUTE sp_addextendedproperty   N'MS_Description', '${explain}', N'user', N'dbo', N'table', N'${tableName}', NULL, NULL   
     </select>
     
	 <select id="editTableExplain"  statementType="CALLABLE">
        EXECUTE sp_updateextendedproperty   N'MS_Description', '${explain}', N'user', N'dbo', N'table', N'${tableName}', NULL, NULL   
     </select>
    
     <select id="addColumnExplain"  statementType="CALLABLE">
         EXEC sp_addextendedproperty 'MS_Description',#{explain},'user',dbo,'table',#{tableName},'column',${columnName}
     </select>
     
     <select id="editColumnExplain"  statementType="CALLABLE">
         EXEC sp_updateextendedproperty 'MS_Description',#{explain},'user',dbo,'table',#{tableName},'column',${columnName}
     </select>
</mapper>